[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
flask = "*"
flask-sqlalchemy = "*"
google-cloud-bigquery = "*"
google-cloud-storage = "*"
firebase-admin = "*"
python-dotenv = "*"
pydantic = "*"
pydantic-core = "*"
greenlet = "*"
google-auth = "*"
flask-jwt = "*"
flask-csrf = "*"
flask-wtf = "*"
flask-login = "*"
tensorflow = "*"
google-ai-generativelanguage = "*"
google-api-core = "*"
google-api-python-client = "*"
google-cloud-aiplatform = "*"
google-generativeai = "*"
scikit-learn = "*"
email-validator = "*"

[dev-packages]
